<h2>About hapily</h2>
<p>Hapily is a directory of 
	<%= link_to "APIs", "http://en.wikipedia.org/wiki/Application_programming_interface" %>
	created by 
	<%= link_to "Sara Robinson", "http://linkedin.com/pub/sara-robinson/24/779/403/" %> while learning to code with Ruby on Rails. Use hapily to browse APIs by category, and create an account to upvote, add your review or contribute to the directory. I'd love your feedback! Please
<%= mail_to("sararob@brandeis.edu", "email me") %>
with your comments or suggestions.
</p><br><br><br>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <h3><span>Donate $5</span></h3>
    </label>
		<p>Enjoyed using hapily? Consider making a donation. I'm teaching myself Rails and your donation will go towards my continued programming education. It's a great cause!</p>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Donation to Sara's Coding Fund"
          data-amount="500"></script>
<% end %>