<br>

<% @users.each do |user| %>
	<div class="user-pic">
		<%= gravatar_for(user, size: 75) %>
	</div>
	<div class="user-info">
		<%= link_to user.name, profile_path(user_id: user.id) %><br>
		Member Since: <%= user.created_at.strftime("%B %d, %Y") %><br>
		Votes: <%= user.votes.count %>
	<br><br>
	<hr>
	</div>
<% end %>

<br><br>

<%= will_paginate @users %>

<br>