<% if @all.empty? %>
	There are no <%= params[:tag] %> APIs yet.
	<% if signed_in? %>
		<%= link_to "Add one.", new_api_path %>
	<% else %>
		<%= link_to "Sign in", new_user_session_path %> to add one.
	<% end %>
<% end %>

<% @all.each do |attribute| %>
<div class="box">
	<div class="api-favicon">
	<%= image_tag("http://www.google.com/s2/favicons?domain_url=" + attribute.url) %>
	</div>
	<%= link_to attribute.name, apipage_path(:id => attribute.id) %>

	<p class="category"><%= attribute.category %></p><br><br>
	<%= attribute.description %><br><br>
	
	<%= link_to pluralize((Review.where("api_id = ?", attribute.id).count), 'review'), apipage_path(:id => attribute.id) %> |
	<%= pluralize((Vote.where("api_id = ?", attribute.id).count), 'vote') %>
	<%= link_to image_tag('grayarrow.gif'), votes_path(api_id: attribute.id, value: 1), { class: "upvote", method: :post } %>
	
</div>
<% end %>