<h3>Add an API</h3>
<%= simple_form_for(@api, html: { class: "form-horizontal" } ) do |f| %>
<fieldset>
	<%= f.input :name, input_html: { cols: 40, rows: 1 } %>
	<%= f.input :description, input_html: { cols: 40, rows: 3 } %>
	<%= f.input :category, collection: @cat_array %><div class="new-category"><%= link_to "Add new category", new_category_path, remote: true, :id => "new_category" %></div>
	<%= f.input :url %>
	<div class="form-actions">
	<%= f.submit "Add API", :class => 'btn' %>
	</div>
</fieldset>
<% end %>