<h3 class="api-header"><%= link_to @api.name, @api.url, :target => "_blank" %></h3>

<p class="api-info"><%= @api.description %></p>
<p class="api-info">Votes: <%= @api["votes"] %></p>
<br>
<%= render 'reviews' %>
<br><br>

<%= link_to "Add a review", new_review_path(:api_id => @api.id) %>

<br><br>
