<div class="api-descript">
<h3 class="api-header"><%= link_to @api.name, @api.url, :target => "_blank" %>
	<% unless @avg_rating.nil? %>
		<span class="avg-rating">
			<% @avg_rating.times do |i| %>
			<%= image_tag('star-icon.png') %>
			<% end %>
		</span>
	<% end %>
</h3>
<br>
</li>
<p class="api-info"><span class="api-label">About the API: </span><%= @api.description %></p>
<br>
<% unless @api.company_description.include? "[" || @api.company_description %>
<p class="api-info"><span class="api-label">About <%= @api.company_name %>: </span><%= @api.company_description %></p>
<br>
<% end %>
<p class="api-info"><span class="api-label">Votes: </span><%= @api["votes"] %></p>
</div>
<div class="show-social">
	<%= render 'showsocial' %>
</div>
<br>
	<%= render 'reviews' %>
<br><br>
<% unless signed_in? %>
	<%= link_to "Sign in", new_user_session_path %> to add a review.
<% end %>
<% if signed_in? %>
	<%= link_to "Add a review", new_review_path(:api_id => @api.id), :class => "add-review btn" %>
	
	
<br><br>

<div id="review-form">
<h4>Used this API? Share your thoughts:</h4>
<br>
<%= simple_form_for(@review) do |f| %>
<fieldset>
	<label>Rating</label>
	<input name="review[rating]" class="required star radio_buttons" id="review_rating_1" type="radio" value="1">
	<input name="review[rating]" class="required star radio_buttons" id="review_rating_2" type="radio" value="2">
	<input name="review[rating]" class="required star radio_buttons" id="review_rating_3" type="radio" value="3">
	<input name="review[rating]" class="required star radio_buttons" id="review_rating_4" type="radio" value="4">
	<input name="review[rating]" class="required star radio_buttons" id="review_rating_5" type="radio" value="5">
	<br><br>
	<%= f.input :thoughts, input_html: { cols: 40, rows: 3 } %>
	<%= f.input :api_id, :as => :hidden, :input_html => { :value => params[:id] } %>
	<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
	
	<div class="form-actions">
	<%= f.submit "Submit Review", :class => 'btn' %>
	</div>
</fieldset>
<% end %>
</div>
<% end %>