<h3 class="api-header"><%= link_to @api.name, @api.url, :target => "_blank" %></h3>
<div class="show-social">
<ul class="social-buttons">
	<li id="twit">
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out the <%= @api.name %> #API on hapily, an API database! http://hapily.herokuapp.com/apis/show/<%= @api.id %>">Tweet</a>
</li>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=572128329488656";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<li id="fb">
<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
</div>
</li>
<p class="api-info"><%= @api.description %></p>
<p class="api-info">Votes: <%= @api["votes"] %></p>
<br>
<%= render 'reviews' %>
<br><br>
<% unless signed_in? %>
	<%= link_to "Sign in", new_user_session_path %> to add a review.
<% end %>

<br><br>
<% if signed_in? %>
	<%= link_to "Add a review", new_review_path(:api_id => @api.id), :class => "add-review btn" %>
	
	
<br><br>

<div id="review-form">
<h4>Used this API? Share your thoughts:</h4>
<%= simple_form_for(@review, html: { class: "form-horizontal" }) do |f| %>
<fieldset>
	<%= f.input :rating, collection: 1..5, as: :radio_buttons %>
	<%= f.input :thoughts, input_html: { cols: 40, rows: 3 } %>
	<%= f.input :api_id, :as => :hidden, :input_html => { :value => params[:id] } %>
	<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
	
	<div class="form-actions">
	<%= f.submit "Submit Review", :class => 'btn' %>
	</div>
</fieldset>
<% end %>
</div>
<% end %>